.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio_item {
  background: var(--primary600);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio_item:hover {
  border-color: var(--primary600);
  background: transparent;
}

.portfolio_item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio_item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio_item-cta {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.btn_github {
  width: 50%;
  justify-content: center;
  background: var(--primary700);
  color: var(--black);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid var(--primary700);
  transition: var(--transition);
}

/* ======================= MEDIUM DEVICES ========================== */

@media screen and (max-width: 1024px) {
  .portfolio_container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ======================= SMALL DEVICES ========================== */

@media screen and (max-width: 600px) {
  .portfolio_container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
